.concert-detail {
    width: 80%;
    margin: 0 auto;
}

.concert-info {
    display: flex;
    margin: 5%;
    justify-content: center;
}

.concert-detail img {
    width: 40%;
    margin: 2.5%;
    box-shadow: 6px 6px 38px -4px lightgray;
}

@supports (object-fit: cover) {
    .concert-detail img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.concert-details {
    width: 35%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 2.5%;
}

.concert-detail .display-3 {
    font-size: 3.5em;
    margin-bottom: 0px;
}

.display-4 {
    font-size: 2em;
    margin-bottom: 2%;
}

.display-3 {
    position: relative;
    left: -4px;
}

.concert-detail button {
    width: 40%;
    box-shadow: 6px 6px 38px -4px lightgray;
}

i {
    margin-bottom: 1rem;
}

.comments {
    margin: 5%;
}
