<div class="header">
    <!--<h1>
        <mat-icon aria-hidden="false" aria-label="music note icon">music_note</mat-icon> ShowLive
    </h1>-->
    <a routerLink="/index" (click)="someForm.reset()"><img src="../../assets/images/ShowLive_x3.png"></a>
    <o-form #someForm editable-detail="no" show-header="no" layout-direction="column" layout-align="center center">
        <div fxLayout="row" layout-align="center center">
            <!--o-daterange-input layout-padding attr="daterange2" label="{{ 'Fechas' | oTranslate }}" #startDate (input)="search.startDate = date.value.value" read-only="no" required="no" [data]="getValue()" clear-button="yes" format="LL" separator=" to ">
            </o-daterange-input>{{startDate.value.value}}-->
            <input matInput type="date" label="Fecha inicio" required="no" id="startDate" [(ngModel)]="search.startDate">
            <input matInput type="date" label="Fecha fin" required="no" id="endDate" [(ngModel)]="search.endDate">
            <mat-form-field layout-padding>
                <mat-select placeholder="Ciudad" id="city" [(ngModel)]="search.city">
                    <mat-option value="-">Cualquiera</mat-option>
                    <mat-option *ngFor="let ciudad of arrayCiudades" value="{{ciudad.value}}">{{ciudad.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field layout-padding>
                <mat-select placeholder="Genero" id="genre" [(ngModel)]="search.genre">
                    <mat-option value="-">Cualquiera</mat-option>
                    <mat-option *ngFor="let genero of arrayGeneros" value="{{genero.value}}">{{genero.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" layout-align="centersad center">
            <mat-form-field layout-padding>
                <input matInput type="text" placeholder="Nombre concierto" label="Busqueda" id="name" [(ngModel)]="search.name">
            </mat-form-field>

            <button mat-icon-button type="submit" (click)="searchSubmit()"><mat-icon>search</mat-icon></button>

        </div>
    </o-form>
</div>