<div class="header">
    <!--<h1>
        <mat-icon aria-hidden="false" aria-label="music note icon">music_note</mat-icon> ShowLive
    </h1>-->
    <img src="../../assets/images/ShowLive_x3.png">
    <o-form editable-detail="no" show-header="no" layout-direction="column" layout-align="center center">
        <div fxLayout="row" layout-align="center center">
            <o-daterange-input layout-padding attr="daterange2" label="{{ 'Fechas' | oTranslate }}" read-only="no" required="no" [data]="getValue()" (change)="change($event)" clear-button="yes" format="LL" separator=" to "> </o-daterange-input>
            <mat-form-field layout-padding>
                <mat-select placeholder="Ciudad">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let ciudad of arrayCiudades" value="{{ciudad.key}}">{{ciudad.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field layout-padding>
                <mat-select placeholder="Genero">
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let genero of arrayGeneros" value="{{genero.key}}">{{genero.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" layout-align="centersad center">
            <o-text-input layout-padding attr="input2" label="Busqueda" read-only="no" required="no"></o-text-input>
            <o-button attr="icon" type="ICON" icon="search" layout-padding></o-button>

        </div>
    </o-form>
</div>