.input-name{
    width: 10%;
}

.textarea-comment{
    width: 80%;
}

.comentar{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

o-button{
    margin-left: 2.5%;
}

