<div class="coments-form">
  <o-form service="CommentService" entity="commentInsert" keys="COMMENT_ID" columns="COMMENT_ID;NAME_COMMENT;DATE_COMMENT;CONTENT" editable-detail="no" show-header="no"
    layout-direction="column">
    <o-text-input attr="NAME_COMMENT" class="input-name" label="Nombre" [data]="getValue('NAME_COMMENT')" read-only="no"
      required="yes">
    </o-text-input>
    <span class="comentar">
      <o-textarea-input attr="CONTENT" class="textarea-comment" label="Comentario" [data]="getValue('CONTENT')" read-only="no"
        rows="5"></o-textarea-input>
      <o-button attr="raised" class="comment-button" type="RAISED" label="Comentar" layout-padding
        (click)="commentSubmit()"></o-button>
    </span>
  </o-form>
</div>


<div class="comments-list">
  <app-comment-item *ngFor="let comment of comments" [comment]="comment"></app-comment-item>
</div>