<mat-card>
    <div class="imagen">
        <img src="../../assets/images/concerts/{{concert.CONCERT_ID}}.jpg">
    </div>
    <div class="contenido">
        <mat-card-title>{{ concert.ARTIST_NAME }}</mat-card-title>
        <mat-card-content>{{ concert.DATE | date }}</mat-card-content>
        <mat-card-content class="location">{{ concert.LOCATION_NAME }}</mat-card-content>

        <mat-card-actions>
            <a target="_top"><button [routerLink]="['/concertDetail', concert.CONCERT_ID]" target="_top" mat-button>Más información</button></a>
        </mat-card-actions>
    </div>
</mat-card>