
  .contenido{
    margin-left: 5%;
    width: 60%;
  }
  
  .imagen img{
    width: 250px;
    margin: 2%;
  }
  
  h1{
    margin-left: 5%;
    margin-top: 2%;
  }
  
  body {
    background-color: #C8D3D5;
  }
  
  mat-card{
    display: flex;
    flex-flow: row wrap;
  }
  