<mat-card>
    <div class="imagen">
        <img src="../../assets/images/concerts/{{concert.CONCERT_ID}}.jpg">
    </div>
    <div class="contenido">
        <mat-card-title>{{ concert.CONCERT_NAME }}</mat-card-title>
        <mat-card-content>{{ concert.DESCRIPTION }}</mat-card-content>
        <mat-card-content><i class="fa fa-calendar" aria-hidden="true"></i> {{ concert.DATE | date}}</mat-card-content>
        <mat-card-content><i class="fa fa-map-marker" aria-hidden="true"></i> {{ concert.LOCATION_NAME }}</mat-card-content>
        <mat-card-content>Género: {{ concert.GENRE_NAME }}</mat-card-content>
        <mat-card-actions>
            <button [routerLink]="['/concertDetail', concert.CONCERT_ID]" mat-button>Más información</button>
        </mat-card-actions>
    </div>
</mat-card>
