footer {
  background-color: #6e8387;
}

a {
  color: black;
  text-decoration: none;
}
.granate {
  background-color: #673c4f !important;
}

.rrss-footer {
  margin-top: 1%;
}

a {
  color: #3c3c3a;
  margin: 1%;
}

img {
  width: 300px;
  margin-bottom: 1%;
}
