<app-head-browser></app-head-browser>
<app-search-results></app-search-results>
<router-outlet></router-outlet>
<footer>
    <o-column attr="container" layout-align="center center" appearance="none">
        <div class= "rrss-footer" fxLayout="row" layout-align="space-between center">
            <a href="#" layout-padding class="fa fa-facebook-square fa-2x">
            </a>
            <a href="#" layout-padding class="fa fa-instagram fa-2x">
            </a>
            <a href="#" layout-padding class="fa fa-twitter fa-2x">
            </a>
        </div>
        <img src="../assets/images/ShowLive_x3.png">
    </o-column>
</footer>
