<!--head-component></head-component-->
<router-outlet></router-outlet>
<footer>
    <o-column attr="container" layout-align="center center" elevation="1" appearance="none">
        <div fxLayout="row" layout-align="space-between center">
            <a href="#" layout-padding class="fa fa-facebook-square fa-2x">
            </a>
            <a href="#" layout-padding class="fa fa-instagram fa-2x">
            </a>
            <a href="#" layout-padding class="fa fa-twitter fa-2x">
            </a>
        </div>
        <h3>ShowLive</h3>
    </o-column>
</footer>
